body {
    background-color: #F5F5F5;
    margin: 0 auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    cursor: pointer;
}

.gallery-item {
    list-style-type: none;
}

.gallery-item img {
    width: 360px;
    height: 200px;
}

 form {
     display: flex;
     flex-wrap: wrap;
     width: 360px;
     height: 152px;
 }

   label {
       font-weight: 400;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.04em;
       color: #2e2f42;
   }

 button {
     border-radius: 8px;
     border: #4e75ff;
     padding: 8px 16px;
     height: 40px;
     background-color: #4e75ff;
     color: #fff;
 }

 button:hover {
    background-color: #6C8CFF;
 }